<div class="modal fade" id="tweet-modal" tabindex="-1" aria-labelledby="tweet-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg tweet-modal-dialog">
    <div class="modal-content tweet-modal-content">
      <div class="description">
        <label for="description" class="form-label">
        </label>
        <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/tweets" method="POST">
        <div class="card modal-body">
          <div class="d-flex flex-row">
            <div class="col-md-1 m-1">
              <img class="bi pe-none me-2 tweet-avatar" src="/icon/logo-gray.png" alt="user avatar">
            </div>
            <div class="col-md-11">
              <textarea class="form m-3 tweet-modal-dialog-textarea" id="description" name="description" 
                        rows="4" maxlength="140" placeholder="有什麼新鮮事？" oninput="postTweet()" required></textarea>
            </div>
          </div>
          <div class="align-self-end">
            <div class="post-tweet" id="postTweet">
              <span>內容不可空白</span>
            </div>
            <button type="submit" class="tweet-submit">
              推文
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function postTweet() {
    const postTweet = document.querySelector('#postTweet')
    const words = document.querySelector('#description').value.length

    if (words === 0) {
      postTweet.innerHTML = `<font color="red">內容不可空白</font>`
    } else if (words >= 140) {
      postTweet.innerHTML = `<font color="red">字數不可超過 140 字 </font>`
    } else if (words > 0 && words < 140) {
      postTweet.innerHTML = `<font color="black"> ${ words } /140</font>`
    }
  }
</script>