<div class="col-3">
  <div class="tweet-right-bar-followship"
    style="background-color:#FAFAFB; width:273px; height:731px; border-radius:20px; margin-top:16px;">
    <div class="col d-flex align-items-center" style="border-bottom: 1px solid #E6ECF0; height:74px;">
      <div style="margin-left:24px;">
        <p class="m-0">
          <strong style="color: #171725; font-size: 24px;">推薦跟隨</strong>
        </p>
      </div>
    </div>
    <div class="tweet-right-bar-followship tweet-right-bar-followship mt-3">
      <div class="d-flex align-items-center">
        <div class="image" style="margin-left:16px;">
          <a href="/users/:id/tweets">
            <img src="/icon/logo-gray.png" alt="logo gray icon" class="circle"
              style="border-radius:50%; width:50px; height:50px;">
          </a>
        </div>
        <div class="tweet-followship-terms m-2">
          <a href="/users/:id/tweets" style="text-decoration: none;">
            <p class="m-0" style="color: #171725; font-size: 16px;">
              <span>Pizza Hut</span>
            </p>
          </a>
          <p class="m-0" style="color: #92929D; font-size: 14px;">
            <span>@pizzahut</span>
          </p>
        </div>
        <div class="follow-btn m-2">
          <form action="/followships/:id?_method=DELETE" method="POST" class="d-flex justify-content-start">
            <button type="submit" class="btn btn-primary"
              style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px; width:96px;height:40px;">
              正在追隨
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>