/* signupã€signin css */
.title {
  margin-bottom: 40px;
  font-size: 28px;
}

.signup-container, .signin-container {
  width: 100%;
  height: 78px;
  padding: 2px 10px;
  border-radius: 2px;
  margin-bottom: 8px;
  background: #F5F8FA;
  text-align: left;
  font-size: 14px;
  position: relative;
}

.signup-input, .signin-input {
  width: 100%;
  height: 26px;
  border: none;
  outline: none;
  background: #F5F8FA;
  font-size: 16px;
}

.account-status, .password-status {
  left: 0%;
  right: 0%;
  top: 66.67%;
  bottom: 30.77%;
  background: #657786;
  border-radius: 0px 0px 4px 4px;
  border: 1px #657786 solid;
  position: absolute;
}

.status.focus {
  border-color: #50B5FF;
}

.signup-helper, .signin-helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0px 0px;
  top: 69.23%;
  right: 50%;
  bottom: 0%;
  left: 0%;
  background: #FFFFFF;
  position: absolute;
}

.signup-count, .signin-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0px 0px;
  position: absolute;
  left: 50%;
  right: 0%;
  top: 69.23%;
  bottom: 0%;
  background: #FFFFFF;
}

.signup-submit, .signin-submit {
  width: 100%;
  height: 46px;
  padding: 8px 100px;
  border: 0;
  border-radius: 50px;
  background-color: #FF6600;
  color: #FFFFFF;
  font-size: 20px;
}

.signup-or-admin {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 22px;
}

/* admin left region sidebar */
.left-region-sidebar {
  width: 178px;
  height: 100vh;
  padding: 0px;
}

.leftbar-logo {
  width: 40px;
  height: 40px;
}

.leftbar-icon {
  width: 24px;
  height: 24px;
  margin: 0px;
  padding: 0px;
}

.leftbar-text.active {
  color: #FF6600;
  padding-bottom: 13px;
}

.leftbar-text {
  display: block;
  padding: 0.5rem 1rem;
  color: #44444F;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.leftbar-text a,
a:hover,
a:focus {
  color: #44444F;
  text-decoration: none;
}

.logout {
  position: absolute;
  bottom: 1rem;
  color: #44444F;
  font-size: 18px;
}

.leftbar-tweet-submit {
  width: 100%;
  height: 46px;
  border: 0;
  border-radius: 50px;
  background-color: #FF6600;
  color: #FFFFFF;
  font-size: 20px;
}

/* admin right region tweets list */
.right-region-tweet-list {
  height: 100vh;
  flex: 1;
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
  color: #171725;
}

.tweets-title {
  margin-bottom: 0px;
  padding: 24px;
  border-bottom: 1px solid #E6ECF0;
  color: #171725;
  font-size: 18px;
}

.user-title {
  margin-bottom: 0px;
  padding: 24px;
  border-bottom: 1px solid #E6ECF0;
}

.scroll-container {
  margin: 13px 3px;
  height: 85vh;
  overflow-y: scroll;
  scrollbar-color: #212529;
  scrollbar-width: thin;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.tweet-card {
  position: relative;
  padding: 16px;
  border-bottom: 1px solid #E6ECF0;
}

.head {
  align-items: center;
}

.name {
  margin-right: 5px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #171725;
}

.account,
.time {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  color: #6C757D;
  text-decoration: none;
}

.content {
  margin-top: 8px;
  width: 85%;
}

.cancel-button {
  padding: 0px;
  font-size: 14px;
  position: absolute;
  right: 1rem;
}

/* admin right region users list */
.right-region-users-container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.right-region-users-list {
  height: 100vh;
  flex: 1;
  margin-left: 24px;
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}

.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-card-background {
  border-radius: 10px;
  background: #F6F7F8;
}

.user-card-cover {
  border-radius: 10px 10px 0px 0px;
  height: 7rem;
  width: 100%;
}

.name-photo {
  position: relative;
  top: 3%;
  transform: translate(0%, -55%);
}

.user-card-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.25rem solid #FFFFFF;
}

.row-actions {
  position: relative;
  top: -3rem;
  display: flex;
}

.row-actions > p {
  margin: 0.5rem;
}

.row-actions > p > img {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.follow {
  height: 1px;
  margin-top: 8px;
  position: relative;
  top: -50px;
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
}

.follow > span {
  color: #6C757D;
}

/* tweets middle */
.card-home-container {
  background-color: #FFFFFF;
  border: 1px solid #E6ECF0;
  border-bottom: 10px solid #E6ECF0;
}

.card-home-border-top-line {
  border-top: 1px solid #E6ECF0;
}

.card-title-container {
  height: 74px;
}

.tweets-text {
  height: 136px;
  border-top: 1px solid #E6ECF0;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweet-content {
  margin: 8px;
  color: #6C757D;
  font-size: 18px;
}

.tweet-submit, .follower-submit {
  width: 96px;
  height: 40px;
  margin-left: 24px;
  border: 1px solid #FF6600;
  border-radius: 20px;
  background-color: #ff6600;
  color: white;
  font-size: 16px;
}

.tweet-back {
  width: 17px;
  height: 14px;
  text-decoration: none;
  color: black;
}

.tweet-modal-container {
  height: 136px;
  border-top: 1px solid #E6ECF0;
}

.tweet-modal-dialog {
  width: 639px;
  right: 40px;
  position: relative;
}

.tweet-modal-content {
  border-radius: 16px;
}

.tweet-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweet-modal-dialog-textarea {
  width: 510px;
  height: 250px;
  border: none;
  resize: none;
}

.post-tweet {
  color: #FF0000;
  display: inline;
}

/* tweets-tweet */
.tweets-tweet-container {
  border: 1px solid #E6ECF0;
}

.tweet-avatar {
  width: 50px;
  height: 50px;
}

.tweets-back-icon {
  width: 17px;
  height: 14px;
}

/* right bar */
.tweet-right-bar-followship {
  width: 273px;
  height: 731px;
  margin-top: 16px;
  border-radius: 20px;
  background-color: #FAFAFB;
}